<form method="POST">
<div>
<label for="">Title</label>
<br>
<input type="text" name="title" id="">
<div>
<label for="">Author</label>
<br>
<input type="text" name="author" id="">
<div>
<label for="">Image URI</label>
<br>
<input type="text" name="imageuri">
<div>
<label for="">Body</label>
<br>
<textarea name="body" id="body" cols="30" rows="10"></textarea>
</div>
<button type="submit">Post</button>
</form>