<article class="blog-post">
  <header>
    <span class="blog-post-category">COMPUTER SCIENCE</span>
    <h1 class="blog-post-title">
      How to increase the efficiency of your algorithms
    </h1>
    <ul class="blog-post-metadata">
      <li>By <b>Marvin Carrasco</b></li>
      <li>March 30, 2020</li>
      <li>6 comments</li>
    </ul>
  </header>
  <img src="/assets/blog-algorithms.png" alt="Algos" />
  <p class="blog-post-summary">
    In computer science, algorithmic efficiency is a property of an algorithm
    which relates to the number of computational resources used by the
    algorithm. An algorithm must be analyzed to determine its resource usage,
    and the efficiency of an algorithm can be measured based ...
  </p>
  <a class="blog-post-link" href="#">Read more</a>
</article>
<article class="blog-post">
  <header>
    <span class="blog-post-category">WEB DEVELOPMENT</span>
    <h1 class="blog-post-title">
      HTML5 + CSS3 + Javascript = Web applications
    </h1>
    <ul class="blog-post-metadata">
      <li>By <b>Adonai Luque</b></li>
      <li>March 28, 2020</li>
      <li>10 comments</li>
    </ul>
  </header>
  <img src="/assets/blog-web-app.png" alt="HTML5 + CSS3 + Javascript" />
  <p class="blog-post-summary">
    In earlier computing models like client–server, the processing load for the
    application was shared between code on the server and code installed on each
    client locally. In other words, an application had its own pre-compiled
    client program which served as its user interface and had to be...
  </p>
  <a class="blog-post-link" href="#">Read more</a>
</article>
<% extras.each_with_index do |post,index| %>
 <%= erb :_post, locals: {post: post, index: index} %>
<% end %>
