<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <section class="landing">
      <div class="description">
        <h1>Build awesome stuff using Ruby, React and more</h1>
        <p>
          Codeable is an intensive 6 month fullstack programming bootcamp where
          you will learn the fundamentals of computer science, Ruby on Rails and
          React.
        </p>
        <a class="btn-pricing" href="#pricing">Pricing</a>
        <a class="btn-blog" href="/blog">Visit our blog</a>
      </div>
      <div class="container-image">
        <img src="/assets/landing-img1.png" alt="Landing" />
      </div>
    </section>
    <!-------------Start Pricing ---------->

    <section id="pricing">
      <h1>Pricing Plans</h1>
      <span>Choose the plan that best suits you</span>
      <div class="container-plans">
        <div class="plans">
          <h2>Up front <br />$6,000</h2>
          <span>One payment, no compromises</span>
          <ul>
            <li>Study on huge discount.</li>
            <li>Get a job only if you like</li>
            <li>Enjoy the same benefits</li>
          </ul>

          <button class="btn-pricing">Get Started</button>
        </div>
        <div class="plans">
          <h2>ISA <br>$9,000</h2>
          <span>Your success is our success</span>
          <ul>
            <li>Just one enrollment payment</li>
            <li>Pay when you get a job</li>
            <li>Your salary should be greater than $750</li>
          </ul>

          <button class="btn-pricing">Get Started</button>
        </div>
      </div>
    </section>

    <!------------- End Pricing ------------>
  </body>
</html>
